@import url("~@zoomus/websdk/dist/css/bootstrap.css");
@import url("~@zoomus/websdk/dist/css/react-select.css");

#zoomClientViewEndingMeetServerSide {
    height: 100vh;
    display: flex;
    align-items: center;
    width: 100vw;
    justify-content: center;
    flex-wrap: wrap;
    background: #222;
    color: white;
    font-size: 24px;
}
